body {
  background-color: #e6e6fa; /*　背景色　*/
  color: #000000; /* 文字色 */
  font-family: sans-serif; /* フォント */
  text-align: center; /* 中央揃え */
}

/*　帯　*/
h1 {
  font-family: 'Zen Kurenaido', sans-serif; /* タイトルフォント */
  font-size: 2rem;
  color: white;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
  font-weight: bold;
  padding: 0.5rem;
  line-height: 1.1;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #ffffe0;
}

/* 討伐対象ボタン（枠なし、背景なし） */
.target-toggle-btn {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    text-decoration: underline; /* ボタンだと分かりやすくするため */
}

/* 右側の名前選択プルダウン（枠あり） */
.enemy-select {
    border: 1px solid #c0c0c0;
    padding: 5px;
    font-size: 16px;
    width: 250px;
}

/* ステータスが入る箱のスタイル */
.enemy-status-box {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
    width: fit-content;
    text-align: left; /* 中身は左寄せ */
}
